<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="/eel.js"></script>
    <title>Configuração</title>
    <link href="bootstrap\bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap\custom.css" rel="stylesheet">
    <link href="form-validation.css" rel="stylesheet">
  </head>



  <body class="bg-light">
    <div class="background"></div>

    <div class="login_container">

        <div class="form-check form-check-inline">
            <br>
            <h1 class='title'>Configurações</h1>
            
            <br>

            <div class="input-group mb-3">
              <span class="input-group-text">Nome</span>
              <input type="text" class="form-control" placeholder="" id='nome' disabled>
              <span class="input-group-text">Saldo</span>
              <input type="text" class="form-control" placeholder="" id='saldo' disabled>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Delay</span>
              <input type="number" class="form-control" id='delay' placeholder="Delay" oninput="this.value =  Math.abs(this.value)*-1" value='-1' max='-4'>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Valor de Entrada</span>
              <input type="number" class="form-control" placeholder="Entrada" aria-label="Entrada" id='entrada' min="1" value=2>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="type_stop">Tipo de Stop</label>
              <select class="form-select" id="type_stop" onchange='ajust_type_stop();'>
                <option value="R$">Valor</option>
                <option selected value="%">Porcentagem</option>
              </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id='stop_type1'>%</span>
                <input type="number" class="form-control" placeholder="Stop Win" aria-label="Stop Win" id='stop-win' oninput="this.value = Math.abs(this.value)">
                <span class="input-group-text" id='stop_type2'>%</span>
                <input type="number" class="form-control" placeholder="Stop Loss" aria-label="Stop Loss" id='stop-loss' oninput="this.value =  Math.abs(this.value)*-1">
            </div>

            <br>

            <div>
                <h4>Tipo de operação:</h4>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                  <label class="form-check-label" for="flexRadioDefault1">Treino</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                  <label class="form-check-label" for="flexRadioDefault2">Real</label>
                </div>
            </div>

            <br>
            <br>

            <div>
                <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
                <label class="btn btn-outline-danger" for="danger-outlined" onclick="back();">Voltar</label>

                <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
                <label class="btn btn-outline-danger" for="danger-outlined" onclick="clear_fields();">Limpar</label>
                
                <input type="radio" class="btn-check" name="options-outlined" id="go_run" autocomplete="off" checked>
                <label class="btn btn-outline-success" for="go_run" onclick="go_run();">Confirmar</label>
            </div>

    </div>

  <body>


    <script src="bootstrap\bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
    //---------------------------------------------------------  
      async function get_type_currence(){
          eel.start_configs_2()
      };
      eel.expose(get_infos_init)
      function get_infos_init(status){
        var infos = JSON.parse(status);
        globalThis.infos_glob = infos;
        document.getElementById('nome').placeholder  = infos.name
        document.getElementById('saldo').placeholder  = infos.balance

      }
      get_type_currence()

    //---------------------------------------------------------  
      async function ajust_type_stop(){
        if (document.getElementById('type_stop').options[0].selected == true){
          document.getElementById('stop_type1').innerHTML  = globalThis.infos_glob.currency_char
          document.getElementById('stop_type2').innerHTML  = globalThis.infos_glob.currency_char
        }
        else{
          document.getElementById('stop_type1').innerHTML  = '%'
          document.getElementById('stop_type2').innerHTML  = '%'
        }

      }
      
    //---------------------------------------------------------  
      async function clear_fields(){
        document.getElementById('stop-win').value = ''
        document.getElementById('stop-loss').value = ''
        document.getElementById('flexRadioDefault1').checked = true
        document.getElementById('ROX').selected = true
        document.getElementById('teste').selected = true
      };

      async function back(){
          window.location.href = "configs_1.html";
      };

    //---------------------------------------------------------  
  
    //---------------------------------------------------------  
    async function go_run(){
      var entrada = document.getElementById('entrada');
      var delay = document.getElementById('delay');
      var type_stop = document.getElementById('stop_type1')
      var stop_win = document.getElementById('stop-win');
      var stop_loss = document.getElementById('stop-loss');
      
      if(document.getElementById('flexRadioDefault1').checked==true){
        var type_operation = 'PRACTICE'
      }
      else{
        var type_operation = 'REAL'
      }
      
      if(document.getElementById('type_stop').options[0].selected==true){
        var type_stop = 'value'
      }
      else{
        var type_stop = 'porcent'
      }
      
      eel.bnt_config_confirmar2(entrada.value, delay.value, stop_win.value, stop_loss.value, type_operation, type_stop)
      window.location.href = "run.html";
    };

    </script>
    <script src="form-validation.js"></script>
  </body>

</html>
