<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/eel.js"></script>
    <title>Configuração</title>
    <link href="bootstrap\bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap\custom.css" rel="stylesheet">
    <link href="form-validation.css" rel="stylesheet">
  </head>



  <body class="bg-light">
    <div class="background"></div>

    <div class="login_container">

        <div class="form-check form-check-inline">
            <br>
            <h1 class='title'>Backteste</h1>
            
            <br>

            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01">Paridade</label>
              <select class="form-select" id="inputGroupSelect01">
                <option selected value="1">EUR/USD</option>
                <option value="2">GBP/JPY</option>
                <option value="3">AUD/CAS</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01">Time Frame</label>
              <select class="form-select" id="inputGroupSelect01">
                <option selected value="1">1 Min</option>
                <option value="2">5 Min</option>
                <option value="3">15 Min</option>
              </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Delay</span>
                <input type="number" class="form-control" placeholder="Delay" >
            </div>

            <br>

            <div>
              <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" checked>
              <label class="btn btn-outline-success" for="success-outlined" onclick="">Catalogar</label>
            </div>

            <br>
            
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
              <table class="table table-bordered table-striped mb-0">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tempo</th>
                    <th scope="col">Direção</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>00:00</td>
                    <td>PUT</td>
                    <td>ANÁLISE</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>00:15</td>
                    <td>CALL</td>
                    <td>ENTRADA</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>00:30</td>
                    <td>CALL</td>
                    <td>GALE 1</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <br>

            <div>
                <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
                <label class="btn btn-outline-danger" for="danger-outlined" onclick="back();">Voltar</label>
                
                <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" checked>
                <label class="btn btn-outline-success" for="success-outlined">START</label>
            </div>
    </div>

  <body>


    <script src="bootstrap\bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      console.log('teste')
      
      async function back(){
        window.location.href = "configs.html";
      };

      eel.expose(logout)   
    </script>
    <script src="form-validation.js"></script>
  </body>

</html>
