<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/eel.js"></script>
    <title>BOT ROX</title>
    <link href="bootstrap\bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap\custom.css" rel="stylesheet">
    <link href="form-validation.css" rel="stylesheet">
    <link rel="icon" href="img/ico_wite.ico">
  </head>



  <body class="bg-light">
    <div class="background"></div>

    <div class="login_container">

        <div class="form-check form-check-inline">
            <br>
            <h1 class='title'>Backteste</h1>
            
            <br>

            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01">Estratégia</label>
              <select class="form-select" id="inputGroupSelect01">
                <option id='ROX' selected value="1">Estratégia ROX</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text">Paridade</label>
              <select class="form-select" id="list_assets">
                <option selected value="1">Carregando ...</option>
              </select>
            </div>
            
            <div class="input-group mb-3 form-inline">
              <label class="input-group-text">Time Frame</label>
              <select class="form-select" id="list_time_frame">
                <option selected value="1">1 Min</option>
                <option value="5">5 Min</option>
                <option value="15">15 Min</option>
              </select>

              <label class="input-group-text" for="inputGroupSelect01">Gale Level</label>
              <select class="form-select" id="list_nivel_martingale">
                <option id='teste' selected value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>

            <br>

            <div>
              <input type="radio" class="btn-check" id="success-outlined" autocomplete="off" checked>
              <label class="btn btn-outline-success" for="success-outlined" onclick="catalogar();">Catalogar</label>
            </div>

            <br>
            
            <div class="table-responsive-xl table-wrapper-scroll-y my-custom-scrollbar">
              <table class="table table-bordered table-striped mb-0" >
                <thead>
                  <tr id='table_catalog_result_head'>
                  </tr> 
                </thead>
                <tbody id='table_catalog_result'>
                </tbody>
              </table>
            </div>

            <br>

            <div class="table-responsive-xl table-wrapper-scroll-y my-custom-scrollbar"  style="height: 250px; overflow: scroll; overflow-x: hidden;">
              <table class="table table-bordered table-striped mb-0" >
                <thead>
                  <tr> 
                    <th scope="col">Horário</th>
                    <th scope="col">Direção</th>
                    <th scope="col">GALE</th>
                  </tr>
                </thead>
                <tbody id='table_catalog'>
                </tbody>
              </table>
            </div>

            <br>

            <div>
                <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
                <label class="btn btn-outline-danger" for="danger-outlined" onclick="logout();">Sair</label>
                
                <input type="radio" class="btn-check" name="options-outlined" id="go_configs_2" autocomplete="off">
                <label class="btn btn-outline-success" for="go_configs_2" onclick="go_configs2();">Continuar</label>
            </div>
    </div>

  <body>


    <script src="bootstrap\bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    //---------------------------------------------------------  
    async function get_assets(){
        eel.get_assets()
      };
    eel.expose(create_list_assets)  
    function create_list_assets(result){
        console.log(result);

        //var infos = JSON.parse(result);
        var list = document.getElementById('list_assets')

        let items = JSON.parse(result);

        items.forEach(function (item) {
          var option = document.createElement('option');
          option.innerHTML = item;
          option.value = item;
          list.appendChild(option);

        });
        list.options[0].innerHTML = items[0];
        list.options[0].value = items[0];
        list.options[0].selected = true;
      } 
    
      get_assets();
    //---------------------------------------------------------  
    async function catalogar(){
        var list = document.getElementById('list_assets');
        var time = document.getElementById('list_time_frame');
        var nivel = document.getElementById('list_nivel_martingale');
        eel.bnt_catalogar(list.options[list.selectedIndex].value, time.options[time.selectedIndex].value, nivel.options[nivel.selectedIndex].value)
    };
    eel.expose(creat_table_catalog)  
    function creat_table_catalog(result){
        result = JSON.parse(result)
        globalThis.infos_t = result
        //var result = globalThis.infos_t

        //HEAD TABELA1
        var table_head = document.getElementById('table_catalog_result_head');

        while (table_head.hasChildNodes()) {  
          table_head.removeChild(table_head.firstChild);
        }

        result.COLS.forEach(function (elemento){
          let item = document.createElement('th');
          item.scope = 'col'
          item.textContent = elemento;
          table_head.appendChild(item);
        })

        //ROW TABELA1   
        var table_result = document.getElementById('table_catalog_result');

        while (table_result.hasChildNodes()) {  
          table_result.removeChild(table_result.firstChild);
        }

        let row_table1 = document.createElement('tr')
        result.RESULTS.forEach(function (elemento){
          let resul = document.createElement('td');
          resul.textContent = elemento;
          row_table1.appendChild(resul);
        })
        table_result.appendChild(row_table1)

        

        //'''TABELA 2'''
        var table_entradas = document.getElementById('table_catalog');

        // REMOVE
        while (table_entradas.hasChildNodes()) {  
          table_entradas.removeChild(table_entradas.firstChild);
        }

        for(var c=0; c<result.ENTRADAS.length; c++){
          let row = document.createElement('tr')

          let clock = document.createElement('td');
          let direc = document.createElement('td');
          let gale = document.createElement('td');

          clock.textContent = result.ENTRADAS[c];
          gale.textContent = result.GALE[c];
          if (result.DIR[c]==-1){
            direc.textContent = 'V'
            direc.style =  "color:red;"
          }else{
            direc.textContent = 'ꓥ'
            direc.style =  "color:green;"
          }

          row.appendChild(clock);
          row.appendChild(direc);
          row.appendChild(gale);

          table_entradas.appendChild(row)
        }
    }      
    //---------------------------------------------------------  
    async function logout(){
        eel.change_current_page("index.html");
        window.location.href = "index.html";
        eel.bnt_sair()
      };
      //---------------------------------------------------------  
    async function go_configs2(){
        var list = document.getElementById('list_assets');
        var time = document.getElementById('list_time_frame');
        var nivel = document.getElementById('list_nivel_martingale');
        eel.bnt_config_confirmar(list.options[list.selectedIndex].value, time.options[time.selectedIndex].value, nivel.options[nivel.selectedIndex].value)

        eel.change_current_page("configs_2.html");
        window.location.href = "configs_2.html";
      };
      //---------------------------------------------------------  

    </script>
    <script src="form-validation.js"></script>
  </body>

</html>
