<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="js/index_animations.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="img/password.png">
    <title>IQ Login</title>
</head> 

<body onload="load_page();">

    <div class="container">
        <div class="background"></div>
        <div class="login_container">

            <div class="title_login">
                <h1 class="title" style="padding:0;">IQ Bot</h1>
            </div>

            <div class="login_label">
                <label class="label_login">Login</label>
            </div>

            <div class="login_user">
                <label for="user_login" class="label_input">Usuario:</label>
                <input type="text" class="inputs" name="user_login" id="get_user_login" placeholder="name@email.com"><br>
            </div>

            <div class="login_user">
                <label for="user_login" class="label_input">Senha:</label>
                <input type="password" class="inputs" name="user_login" id="get_user_password" placeholder="* * * * * * * * *">
            </div>

            <div class="buttons_container">
                <label class="top_label" style="margin: 0 20px;">Sem acesso ao Bot? <a href="#" onclick="recovery_pass('open');">Clique aqui</a></label>
                <button class="buttons" onclick="login_user();">Confirmar</button>
            </div>

            <div class="login_user" style="text-align: center;width: 100%;">
                <label class="label_input" id="login_txt" style="width: 100%;"></label>
            </div>

        </div>
        <div class="recovery_container">
            <div class="title_new"><h2>Adesão de Plano</h2></div>
            <div class="p">
                <p class="p">Pagamento via PIX: R$ 15.00</p>
            </div>
            <br>
            <div class="box_child">
                <img id='barcode' src="https://api.qrserver.com/v1/create-qr-code/?data=HelloWorld&amp;size=100x100" alt="" width="150" height="150" class="center"/>
            </div>
            <br>
            <div class="box">
                <label for="get_email" class="label_input">Email:</label>
                <input type="email" name="get_email" id="get_email" class="inputs" style="width: 100%; text-align:center;" placeholder="example@example.com">
            </div>
            

            <div class="box" style="margin-top: 30px;">
                <button class="buttons" style="margin-left:15%;" onclick="recovery_pass('close');">Voltar</button>
                <button class="buttons" style="margin-left:15%;" onclick="reco_pass_js();">Confirmar</button>
            </div>
            <div class="box" style="text-align:center;"><label class="label_input" id="reco_label" style="width: 99%; "></label></div>
        </div>
    </div>


    <script type="text/javascript" >
        eel.expose(close_browser);
        function close_browser(){
            console.log('teste windows close');
            window.close(); 
        }
    //--------------------------------------------ONLY FUNCTIONS JS----------------------------------------------------------------------  

        function generateBarCode() 
        {
            var nric = $('#text').val();
            var url = 'https://api.qrserver.com/v1/create-qr-code/?data=' + nric + '&amp;size=50x50';
            $('#barcode').attr('src', url);
        }
    
        //REGISTRO DE NOVO USUARIO//---------------------------------------------------------  
        async function save_register_js(){
            eel.btn_save($('#new_name').val(),$('#new_phone').val(),$('#new_date').val(),
            $('#new_login').val(),$('#new_pass').val(),$('#new_email').val())
        };
        eel.expose(save_return); 
        function save_return(status){
            if (status == "sucesso"){
                $('#return_register').text('Registro concluido com sucesso!');
                $('#new_name').val('');
                $('#new_phone').val('');
                $('#new_login').val('');
                $('#new_pass').val('');
                $('#new_email').val('');
            }
            if (status == "falha"){
                $('#return_register').text('Erro ao registrar, verifique se não tem campos em branco.');
            }
        };

        //RECUPERAR SENHA//---------------------------------------------------------  
        async function reco_pass_js(){
            $('#reco_label').text("Verificando email, aguarde...")
            eel.btn_recovery($('#get_email').val())
        };
        eel.expose(reco_return)
        function reco_return(status){
            if (status == "sucesso"){
                $('#reco_label').text("Senha enviado para o email com sucesso!")
            }
            if (status == "falha"){
                $('#reco_label').text("Não encontramos o email informado")
            }
        };

        //LOGAR USUARIO//---------------------------------------------------------  
        async function login_user(){
            eel.btn_login($('#get_user_login').val(), $('#get_user_password').val())
        };
        eel.expose(login_return)
        function login_return(status){
            var status = JSON.parse(status);

            if (status.status_bot == "True" & status.status_iq == "True"){
                //window.location.href = "configs_1.html";
                console.log('foi')
            }
            else if (status.status_iq == "False"){
                $('#login_txt').text("Usuario ou Senha incorreto")
            }
            else if (status.status_bot == "False" & status.status_iq == "True"){
                $('#login_txt').text("Usuario sem acesso ao bot")
            }
        }


    </script>
    
</body>
</html>