<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/eel.js"></script>
    <title>Configuração</title>
    <link href="bootstrap\bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap\custom.css" rel="stylesheet">
    <link href="form-validation.css" rel="stylesheet">
  </head>



  <body class="bg-light">
    <div class="background"></div>

    <div class="login_container">

      <br>
      <h1 class='title'>Operação</h1>
      <br>

      <div class="form-check form-check-inline">
          <div class="input-group mb-3">
            <span class="input-group-text">Nome</span>
            <input type="text" class="form-control" placeholder="" id='nome' disabled>
            <span class="input-group-text">Saldo</span>
            <input type="text" class="form-control" placeholder="" id='saldo' disabled>
          </div>
        
        <br>

        <div>
          <input type="radio" class="btn-check" id="success-outlined" autocomplete="off" checked>
          <label class="btn btn-outline-success" for="success-outlined" onclick="iniciar();">Iniciar</label>
        </div>

        <br>
        <br>

        <div class="table-responsive-xl table-wrapper-scroll-y my-custom-scrollbar"  style="height: 250px; overflow: scroll; overflow-x: hidden;">
          <table class="table table-bordered table-striped mb-0" >
            <thead>
              <tr> 
                <th scope="col">Nº</th>
                <th scope="col">Horário</th>
                <th scope="col">Direção</th>
                <th scope="col">Nível</th>
              </tr>
            </thead>
            <tbody id='table_operation_result'>
            </tbody>
          </table>
        </div>
      </div>

      <br>

      <div>
          <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
          <label class="btn btn-outline-danger" for="danger-outlined" onclick="logout();">Sair</label>
          
          <input type="radio" class="btn-check" name="options-outlined" id="go_configs_2" autocomplete="off" checked>
          <label class="btn btn-outline-danger" for="go_configs_2" onclick="stop_operation();">Parar</label>
      </div>
    </div>
    <br>

  <body>


    <script src="bootstrap\bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      //---------------------------------------------------------  
      var status_start=false;

      //---------------------------------------------------------  
      async function set_run_infos(){
            eel.set_run_infos()
        };
        eel.expose(get_infos_run)
        function get_infos_run(status){
          var infos = JSON.parse(status);
          globalThis.infos_glob = infos;
          document.getElementById('nome').placeholder  = infos.name
          document.getElementById('saldo').placeholder  = infos.balance
        }
        set_run_infos()
      //---------------------------------------------------------  
      eel.expose(refresh_operation)  
      function refresh_operation(result){
          result = JSON.parse(result)

          var table_result = document.getElementById('table_operation_result');
          let row_table1 = document.createElement('tr')
          result.RESULTS.forEach(function (elemento){
            let resul = document.createElement('td');
            resul.textContent = elemento;
            row_table1.appendChild(resul);
          })
          table_result.appendChild(row_table1)
      }      
      //---------------------------------------------------------  
      async function start(){
        if(status_start==false){
          status_start=true;
          eel.start_operation()
        }
      };
      //---------------------------------------------------------  
      async function logout(){
          window.location.href = "configs_2.html";
          //eel.bnt_sair()
        };
      //---------------------------------------------------------
      async function stop_operation(){
          eel.stop_operation()
        };
      //---------------------------------------------------------
    </script>
    <script src="form-validation.js"></script>
  </body>

</html>
