<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> 
    <script type="text/javascript" src="/eel.js"></script>
    <title>Configuração</title>
    <link href="bootstrap\bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap\custom.css" rel="stylesheet">
    <link href="form-validation.css" rel="stylesheet">
  </head>



  <body class="bg-light"></body>
    <div class="background"></div>

    <div class="login_container">

      <br>
      <h1 class='title'>Operação</h1>
      <br>

      <div class="form-check form-check-inline">

          <div class="input-group mb-3">
            <span class="input-group-text">Nome</span>
            <input type="text" class="form-control" placeholder="" id='nome' disabled>
            <span class="input-group-text">Banca</span>
            <input type="text" class="form-control" placeholder="" id='banca' disabled>
          </div>

          <br>

          <div class="input-group mb-3">
            <span class="input-group-text" id='asset'></span>
            <span class="input-group-text" id='bina_dina'></span>
            <span class="input-group-text">Saldo</span>
            <input type="text" class="form-control" placeholder="" id='saldo' disabled>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Time</span>
            <input type="text" class="form-control" placeholder="" id='time' disabled>
            <span class="input-group-text">Nível</span>
            <input type="text" class="form-control" placeholder="" id='nivel' disabled>
          </div>
        
        <br>

        <div>
          <input type="radio" class="btn-check" id="success-outlined" autocomplete="off" checked>
          <label class="btn btn-outline-success" for="success-outlined" id ='bnt_iniciar' onclick="iniciar();">Iniciar</label>
        </div>

        <br>
        <br>

        <div class="table-responsive-xl table-wrapper-scroll-y my-custom-scrollbar"  style="height: 250px; overflow: scroll; overflow-x: hidden;">
          <table class="table table-bordered table-striped mb-0" >
            <thead>
              <tr> 
                <th scope="col">Início</th>
                <th scope="col">Direção</th>
                <th scope="col">Nível</th>
                <th scope="col">Valor</th>
                <th scope="col">Result</th>
              </tr>
            </thead>
            <tbody id='table_operation_result'>
            </tbody>
          </table>
        </div>
      </div>

      <br>

      <div>
          <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
          <label class="btn btn-outline-danger" for="danger-outlined" onclick="logout();">Sair</label>
          
          <input type="radio" class="btn-check" name="options-outlined" id="go_configs_2" autocomplete="off" checked>
          <label class="btn btn-outline-danger" for="go_configs_2" onclick="stop_operation();">Parar</label>
      </div>
    </div>
    <br>

    <!-- Modal -->
    <div class="modal fade" id="locModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="msg_stop_bot">Modal title</h5>
            <br>
            <br>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close_modal();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>

  <body>


    <script src="bootstrap\bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      //---------------------------------------------------------  
      var status_start=false;

      //---------------------------------------------------------  
      async function set_run_infos(){
            eel.set_run_infos()
        };
        eel.expose(get_infos_run)
        function get_infos_run(status){

          var infos = JSON.parse(status);
          globalThis.infos_glob = infos;
          document.getElementById('nome').placeholder  = infos.name
          document.getElementById('banca').placeholder  = infos.balance
          document.getElementById('asset').textContent  = infos.asset
          document.getElementById('bina_dina').textContent  = infos.bina_dina
          document.getElementById('time').placeholder  = infos.time
          document.getElementById('nivel').placeholder  = infos.nivel
          document.getElementById('saldo').placeholder  = 0
        }
        
        set_run_infos()

        eel.expose(alert_stop_goal)
        function alert_stop_goal(status){
          var infos = JSON.parse(status);

          var locModal = document.getElementById('locModal');
          locModal.style.display = "block";
          locModal.style.paddingTop = "240px";
          document.getElementById('msg_stop_bot').textContent = infos.msg;
          locModal.className="modal fade show"; 

        }

        function close_modal(){
          var locModal = document.getElementById('locModal');
          locModal.style.display = "none";
          locModal.className="modal fade";
        }

      //---------------------------------------------------------  
      eel.expose(refresh_operation)  
      function refresh_operation(result){
          result = JSON.parse(result)
          console.log(result);

          document.getElementById('saldo').placeholder  = result.saldo
          document.getElementById('banca').placeholder = (globalThis.infos_glob.balance + result.saldo).toFixed(2);

          var table_result = document.getElementById('table_operation_result');
          let row_table1 = document.createElement('tr')

          let value = document.createElement('td');
          let time = document.createElement('td');
          let direc = document.createElement('td');
          let gale = document.createElement('td');
          let resultado = document.createElement('td');

          value.textContent = result.value_bet;
          time.textContent = result.time_bet;
          gale.textContent = result.level;

          if (result.direc=='PUT'){
            direc.textContent = 'V'
            direc.style =  "color:red;"
          }else{
            direc.textContent = 'ꓥ'
            direc.style =  "color:green;"
          }

          if (result.result>0){
            resultado.textContent = 'WIN'
            resultado.style =  "color:green;"
          }
          else if (result.result==0){
            resultado.textContent = 'EMPARE'
            resultado.style =  "color:yellow;"
          }else{
            resultado.textContent = 'LOSS'
            resultado.style =  "color:red;"
          }
          
          row_table1.appendChild(time);
          row_table1.appendChild(direc);
          row_table1.appendChild(gale);
          row_table1.appendChild(value);
          row_table1.appendChild(resultado);

          table_result.appendChild(row_table1)
      }      
      //---------------------------------------------------------  
      async function iniciar(){
        if(status_start==false){
          document.getElementById('bnt_iniciar').textContent = "Buscando!"
          status_start=true;
          eel.bnt_iniciar()
        }
      };
      //---------------------------------------------------------  
      async function logout(){
          eel.bnt_parar()
          eel.change_current_page("configs_2.html");
          window.location.href = "configs_2.html";
        };
      //---------------------------------------------------------
      async function stop_operation(){
          eel.bnt_parar()
        };
      //---------------------------------------------------------
    </script>
    <script src="form-validation.js"></script>
  </body>

</html>
